$Dark = black

$Black = #333333
$lBlack = #666666
$elBlack = #999999
$wBlack = #dcdfe6

$Silver = #b1b1b1
$lSilver  = #cccccc
$elSilver = #e5e5e5

$dWhite = #f5f5f5
$White = white

$lBlue = lighten(#0099ff, 15%)
$Blue = #0bbde3
$dBlue = darken(#0099ff, 15%)

$lSuccess = lighten(#26b28d, 15%)
$Success = #26b28d
$dSuccess = darken(#26b28d, 15%)

$lWarning = lighten(#F7BA2A, 15%)
$Warning = #FFBA35
$dWarning = darken(#F7BA2A, 15%)

$lDanger = lighten(#ff4949, 15%)
$Danger = #ff4949
$dDanger = darken(#ff4949, 15%)

$topheight = 70px